<h2>
  <%= @question.title %>
  <%= link_to "Delete", @question, method: :delete, class: "secondary button right" %>
  <%= link_to "Edit", edit_question_path(@question), class: "button right" %>
</h2>
<%= markdown @question.description %>
<ul>
  <%@question.answers.order(:created_at).each do |answer|%>
    <li>
      <%= markdown answer.description %>
    </li>
  <%end%>
</ul>


<div class="row">
  <%- if @answer.errors.present? -%>
  <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @answer.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="large-12">
    <h3>New Answer</h3>

    <%= form_for [@question, @answer] do |f| %>
      <%= f.label :description %>
      <%= f.text_area :description, class: "long_text" %>

      <%= f.submit "Add Answer", class: "button" %>
    <%- end -%>
  </div>
</div>
