<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rescue Mission</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/questions">Q & A</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
            <li>
              <p class="top-bar">Welcome, <%= current_user.name %> </p>
            </li>
            <li><%= image_tag(current_user.image, class: "top-bar-profile") %></li>
            <li><%= link_to "Sign Out", sign_out_path %></li>
          <% else %>
            <li><p class="top-bar">Sign In with </li>
            <li><%= link_to 'Facebook', '/auth/facebook' %></li>
            <li><p class="top-bar">/</li>
            <li><%= link_to 'GitHub', '/auth/github' %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %>">
        <%= value %>
      </div>
    <%- end -%>

    <section class="main">

      <%= yield %>

    </section>
  </body>
</html>
